# Supabase Configuration
SUPABASE_URL="SUPABASE_URL"
SUPABASE_SERVICE_KEY="SUPABASE_SERVICE_KEY"

# Neo4j Configuration
NEO4J_URI="NEO4J_URI"
NEO4J_USERNAME="NEO4J_USERNAME"
NEO4J_PASSWORD="NEO4J_PASSWORD"

# Your secret password to access your own API
API_SECRET_KEY=DEFAULT_SECRET_KEY

# Your Google AI Studio Key
# GOOGLE_API_KEY="GOOGLE_API_KEY"
OLLAMA_API_KEY="OLLAMA_API_KEY" # get on ollama.com / profile / generate key